<div class="sidebar">
    <div class="logo">
      <h2>Admin Panel</h2>
    </div>

    <div class="nav-menu">
      <div class="nav-item" [class.active]="isActive('/dashboard')" routerLink="/dashboard">
        <i>📊</i> Dashboard
      </div>
      <div class="nav-item" [class.active]="isActive('/bookList')" routerLink="/bookList">
        <i>📚</i> Books
      </div>
      <div class="nav-item" [class.active]="isActive('/users')">
        <i>👥</i> Users
      </div>
      <div class="nav-item" [class.active]="isActive('/carts')" routerLink="/carts">
        <img src="assets/icomoon/shopping-cart (2).png" alt="Carts Icon" style="margin-right:18px ; size: 5px;"/>      Carts
      </div>
      <div class="nav-item" [class.active]="isActive('/payments')" routerLink="/payments">
        <i>💳</i> Payments
      </div>
      <div class="nav-item" [class.active]="isActive('/reclamations')" routerLink="/reclamations">
        <i>📝</i> Réclamations
      </div>
    </div>
  </div>